.downloadModal {
  position: fixed;
  top: 60px;
  right: 18px; /* Set to match the navbar's right padding */
  width: 300px;
  max-height: 80vh;
  overflow-y: auto;
  background-color: var(--modal-bg);
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  z-index: 1000;
  color: var(--modal-text);
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
}

.fadeIn {
  opacity: 1;
  visibility: visible;
}

.fadeOut {
  opacity: 0;
  visibility: hidden;
}

.downloadModalContent {
  padding: 20px;
}

.downloadModal h2 {
  margin-top: 0;
  margin-bottom: 15px;
  font-size: 20px;
  color: var(--modal-text);
}

.downloadItem {
  margin-bottom: 20px;
  background-color: var(--download-item-bg);
  padding: 15px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.downloadItem p {
  margin: 0 0 10px 0;
  font-size: 14px;
  color: var(--download-item-text);
}

.progressBarContainer {
  width: 100%;
  height: 10px;
  background-color: var(--progress-bar-bg);
  border-radius: 5px;
  overflow: hidden;
}

.progressBar {
  height: 100%;
  background-color: var(--progress-bar-fill);
  transition: width 0.3s ease;
}
