.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modalContent {
  background-color: var(--modal-bg);
  padding: 24px;
  border-radius: 8px;
  width: 90%;
  max-width: 400px;
  max-height: 80vh;
  overflow-y: auto;
  margin: 20px;
}

.modalHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 36px;
}

.modalTitle {
  font-size: 24px;
  color: var(--modal-text);
  margin: 0;
}

.closeButton {
  background: none;
  border: none;
  cursor: pointer;
  color: var(--modal-text);
  padding: 4px;
}

.inputGroup {
  margin-bottom: 16px;
}

.inputGroup label {
  display: block;
  margin-bottom: 5px;
  color: var(--modal-text);
}

.inputGroup input {
  width: 100%;
  max-width: 385px; /* Adjust this value as needed */
  padding: 8px;
  border: 1px solid var(--btn-bg);
  border-radius: 4px;
  background-color: var(--bg-color);
  color: var(--text-color);
  transition:
    box-shadow 0.3s ease,
    border-color 0.3s ease;
}

.inputGroup input:focus {
  outline: none;
  box-shadow: 0 0 0 2px var(--focus-color);
}

.inputError,
.inputGroup input.inputError {
  border-color: var(--stop-btn);
  box-shadow: 0 0 0 1px var(--stop-btn);
}

.errorContainer {
  min-height: 16px;
  margin-top: 8px;
}

.errorMessage {
  display: flex;
  align-items: center;
  color: var(--stop-btn);
  font-size: 14px;
}

.errorMessage svg {
  margin-right: 5px;
}

.buttonContainer {
  display: flex;
  justify-content: flex-end;
  margin-top: 20px;
}

.submitButton {
  padding: 10px 20px;
  background-color: var(--download-btn);
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-weight: bold;
  transition: background-color 0.3s ease;
}

.submitButton:hover {
  background-color: var(--download-btn-hover);
}

.submitButton:disabled {
  background-color: var(--btn-bg);
  cursor: not-allowed;
}

.error {
  color: var(--stop-btn);
  margin-top: 10px;
}

.success {
  color: var(--run-btn);
  margin-top: 10px;
}
