/* Nodes.css */
.Nodes {
    padding: 20px;
    text-align: center;
  }
  
  .chain-list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px; /* Consistent gap for both horizontal and vertical spacing */
  }
  
  .chain-list.single-column {
    flex-direction: column;
  }
  
  .chain-list.two-column {
    flex-direction: row;
    flex-wrap: wrap;
  }
  
  .chain-list.two-column .card {
    flex: 1 1 calc(50% - 20px); /* Adjust for consistent gap */
    box-sizing: border-box;
  }
  
  .toggle-button {
    border: none;
    background: transparent;
    cursor: pointer;
    font-size: 24px;
    margin-bottom: 20px;
    color: var(--download-btn);
  }
  
  .toggle-button:focus {
    outline: none;
    box-shadow: 0 0 5px var(--download-btn-hover);
  }
  